body{

background-color: #000000;

color: #FF0000;
}

.containter
{
width: 80%;
margin: 0 auto;
}

header
{

background-color: #104E8B;
height: 10%;
}
header nav ul li {
display: inline;
padding:2%;
}
header nav ul li a{
font-weight: bold;
font-size: 35px;


color: #FF0000;

}
header nav ul li a:hover {
 color: white;
}
